[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule ".vim/vundle"]
	path = .vim/vundle
	url = git://github.com/gmarik/vundle.git
