export REPOS=

export JAVA_HOME=""

export ANDROID_HOME="path/to/android-sdk"
export ANDROID_SDK_HOME="path/to/android-sdk"
export ANDROID_NDK_HOME=path/to/android-ndk
export NDK_ROOT=${ANDROID_NDK_HOME}

export PLAY2_HOME="path/to/play2.0"

export PATH=/usr/local/bin:${ANDROID_SDK_HOME}/tools:${ANDROID_SDK_HOME}/platform-tools:${ANDROID_NDK_HOME}:$PLAY2_HOME:$HOME/bin:$PATH
